[submodule "apps/file-to-markdown"]
	path = apps/file-to-markdown
	url = git@github.com:bragamat/file-to-markdown.git
[submodule "apps/tmux-sessions"]
	path = apps/tmux-sessions
	url = git@github.com:bragamat/tmux-sessions.git
[submodule "apps/add-bin-to-path"]
	path = apps/add-bin-to-path
	url = git@github.com:bragamat/add-bin-to-path.git
[submodule "apps/gmux"]
	path = apps/gmux
	url = git@github.com:bragamat/gmux.git
